@page
@model Verbum.Pages.SearchResults

@{
    ViewData["Title"] = "Search Results";
}

<h1>Search Results</h1>

@if (Model.MatchedArticles.Count > 0)
{
    <ul>
        @foreach (var result in Model.MatchedArticles)
        {
            <li>
                <a href="@result.Url">@result.Name</a>
            </li>
        }
    </ul>
}
else
{
    <p>No articles found.</p>
}